* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan';
}

a {
    color: black;
    text-emphasis: none;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.home-button:hover {
    text-decoration: none;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both;
}

.header {
    background-color: rgb(153, 255, 243);
    height: 175px;
    padding: 1rem;
    border-bottom: 2px solid rgb(128, 218, 207);
    margin-bottom: 5px;
}

.site-name {
    font-family: 'Leckerli One';
    color: rgb(233, 252, 251);
    font-size: 75px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(174, 223, 220);
}

.site-name:hover {
    text-shadow: 5px 5px 5px rgb(100, 167, 159);
}

.logout {
    display: flex;
    justify-content: flex-end;
    margin: 1px;
}

.header-habit {
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(167, 233, 203);
    padding: 5px;
    border-radius: 10px;
}

.header-habit:hover {
    box-shadow: 3px 3px 3px rgb(100, 167, 159);
}

.head-habit-list {
    display: inline;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.habits-container {
    border: 1px solid black;
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    contain: content;
    background: linear-gradient(rgb(171, 216, 204), rgb(149, 189, 179));
}

.habits-container:hover {
    border: 2px solid rgb(248, 255, 255);
    box-shadow: 5px 5px 5px gray;
    background: linear-gradient(rgb(168, 175, 180), rgb(131, 136, 139));
}

.new {
    padding-top: 60px;
    padding-bottom: auto;
    font-family: 'Leckerli One'
}

.habit-name {
    margin: 2px;
    font-family: 'Leckerli One';
    font-size: 25px;
    font-weight: none;
}

.description {
    margin: 2px;
    border: 0.5px solid gray;
    padding: 3px;
    border-radius: 10px;
    font-size: 15px;
}

.tracked {
    float: left;
    margin: 5px;
    margin-left: 10px;  
    font-size: 13px;
}

.goal {
    float: right;
    margin: 5px;
    margin-right: 1px;
    font-size: 13px;
}

.edit-delete {
    clear: both;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px;
    font-style: italic;
}

.new-habit-head {
    font-family: 'Leckerli One';
    text-align: center;
}

.form {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    text-align: left;
}

.button {
    margin-left: 105px;
    margin-top: 5px;
}

.button:hover {
    box-shadow: 2px 2px 2px gray;
}

.log-head {
    max-width: 50%;
    margin: 10px;
    display: inline-block;
    min-height: 200px;
    max-height: 400px;
}

.entry-button {
    display: block;
    margin: 15px;
    font-family: 'Leckerli One';
    font-size: 25px;
    background-color: rgb(153, 255, 243);
    width: 150px; 
    padding: 10px;
    border-radius: 20px;
    color: rgb(241, 241, 241);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gray;
}

.entry-button:hover {
    font-weight: none;
    text-decoration: none;
    box-shadow: 3px 3px 3px gray;
    border-bottom: 2px solid rgb(114, 189, 180);
    background: linear-gradient(rgb(153, 255, 243), rgb(130, 218, 207));
}

.goal-head {
    display: inline-block;
    margin: 10px;
    margin-right: 30px;
    font-family: 'Leckerli One';
    border: 1px solid black;
    font-size: 40px;
    position: absolute;
    right: 0;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(167, 233, 203);
}

.log-container {
    margin: 10px;
    border-top: 5px solid rgb(128, 218, 207);
    border-bottom: 5px solid rgb(128, 218, 207);
    min-height: 200px;
    max-height: 400px;
}