{% extends 'base.html' %}
{% block content %}

<body class=body>
<div class="container">
  <a class="habits-container new" href="{% url 'new-habit' %}">
    <div>
      <h2>New Habit</h2>
      <p>+</p>
    </div>
  </a>
  {% for habit in habits %}
  <div class="habits-container">

    <div>
      <h2 class="habit-name">
        <a href="{% url 'habit-detail' habit.pk %}">{{habit.name}}</a>
      </h2>
    </div>

    <div>
      <p class="description">
        {{habit.description}}
      </p>
      <p class="tracked">
        Days tracked: {{habit.get_days_tracked}}
      </p>
    </div>
    <div>
      <p class="goal">
        Daily Goal: {{habit.goal_value}} {{habit.goal_unit}}
      </p>
    </div>

    <p class="edit-delete link">
      <a href="{% url 'edit-habit' pk=habit.pk %}">Edit Habit</a>

      <a class="confirm-delete link" href="{% url 'delete-habit' pk=habit.pk %}"
        onclick="return confirm('Are you sure you want to delete this?')">Delete Habit</a>
    </p>

  </div>

  {% endfor %}
</div>
</body>

{% endblock %}