{% extends 'base.html' %}
{% block content %}

<body class=body>
    <div class="log-head">
        <p class="habit-name">{{habit.name}}</p>
        <p>{{habit.description}}</p>
    </div>
    <div class="goal-head">
        Daily Goal: {{habit.goal_value}} {{habit.goal_unit}} per day
    </div>
    <a class="entry-button" href="{% url 'track-habit' pk=habit.pk %}">Add Entry! </a>
    <div>
        {% for log in logs %}
        <div class="log-container">

            <div>
                <h2 class="habit-name">
                    {{log.activity_date}}
                </h2>
            </div>

            <div>
                <p class="description">
                    {{habit.description}}
                </p>
                <p class="tracked">
                    Days tracked: {{habit.get_days_tracked}}
                </p>
            </div>
            <div>
                <p class="goal">
                    Goal: {{habit.goal_value}} {{habit.goal_unit}} per day
                </p>
            </div>

        </div>

        {% endfor %}
    </div>
</body>

{% endblock %}