<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta.25/shoelace.css"> -->
    {% load static %}
    <!-- <script src=’main.js’ defer> </script> -->
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Abel|Pacifico&display=swap" rel="stylesheet"> -->
    {% block title %}<title>Habits</title>{% endblock %}
</head>

<header class="header">
    <h1 class="site-name">
        Habit Tracker
    </h1>
    <div class="logout">
        <a href="/accounts/logout/">Logout</a>
    </div>
    <hr>
    {% for habit in habits %}
    <div class="header-habit">
        <a href="{% url 'habit-detail' habit.pk %}">
            {{habit.name}}
        </a>
    </div>
    {% endfor %}

</header>

<body>
    {% block content %}
    <p>Hello world!</p>
    {% endblock %}
</body>

</html>